html {
  height: 100%;
  width: 100%;
  background-color: #AFCAE0
}

.box {
    background-color: #ffffff;
    border-style: solid;
    border-color: #CDE0F0;
    border-width: 1px;
    align-items: center;
    text-align: center; 
    margin: 2px;
    padding: 10px 0;
    width:50px;
    hight:50px;
}

.rowdiv {
    display: flex;
    align-items: center;
    height: 50px;
    margin: auto;
    width: 50%
}

.key{
    border-style: solid;
    border-color: #CDE0F0;
    border-width: 1px;
    width: 30px;
    margin: 1;
    text-align: center;
   
}

.difkey{
    border-style: solid;
    border-color: #CDE0F0;
    border-width: 1px;
    width: 50px;
    margin: 1;
    
}

.keyrow{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}